body {
    background-color: white;
}

main {
    max-width: 1024px;
    border: #2f6061 solid 2px;
    border-radius: 10px;
    margin: auto;
    font-family: sans-serif;
    color: #2f6061;
}

.foto {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
    margin: 20px 20px 20px 0;
    background-image: url(img/myFoto.jpg);
    background-size: cover;
}

.name {
    text-align: left;
    font-size: 28px;
}

.container {
    display: flex;
    justify-content: center;
}

.aboutMe {
    border-top: 1px solid;
    max-width: 460px;
}

.education {
    max-width: 210px;
}

.contact {
    margin-right: 100px;
    border-left: 1px solid;
    padding: 20px;
    margin: 20px 152px 20px 0;
}

.box {
    margin: 20px 20px 20px 0;
    padding: 0 20px;
    border-left: 1px solid;
}

a {
    text-decoration: none;
    color: darkcyan;
}